In [1]:
import pandas as pd
df = pd.DataFrame({
    "customer" : ["A"]*2 + ["B"]*2 + ["C"]*2, 
    "cust_type": ["Reg", "Low", "High", "Reg", "Reg", "Low"], 
    "freq" : [15,3,24,25,9,5]})
df

  customer cust_type  freq
0        A       Reg    15
1        A       Low     3
2        B      High    24
3        B       Reg    25
4        C       Reg     9
5        C       Low     5

In [2]:
df.pivot(columns="cust_type", index="customer", values="freq")

cust_type  High  Low   Reg
customer
A           NaN  3.0  15.0
B          24.0  NaN  25.0
C           NaN  5.0   9.0

In [3]:
pd.crosstab(index=df.customer, columns=df.cust_type, values=df.freq, aggfunc="sum", normalize="columns")

cust_type  High    Low       Reg
customer
A           0.0  0.375  0.306122
B           1.0  0.000  0.510204
C           0.0  0.625  0.183673